<!doctype html>
<html>
  <head>
 	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/css/type.css">

	<link rel="alternate" type="application/rss+xml" 
	title="elbleg" href="http://feeds.feedburner.com/Bleg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>
	<% if @path == 'index' %>
	    elBl&euml;g
	<% elsif @path.split('/').compact.length == 4 %>
	    <%= title %> - elBl&euml;g
	<% else %>
	    <%= @path.capitalize.gsub(/[-]/, ' ') %> - elBl&euml;g
	<% end %>
	</title>
  </head>
  <body>
		

	<header>
		<a href="/">
			<img src="/img/logo.png" width="250" height="92" alt="Logo">
		</a>
		<nav>
			<ul>
			    <li <%= ' class="active"' if @path == 'index' %>>
			        <a href="/">Inicio</a>
			    </li>
			    <li <%= ' class="active"' if @path == 'archives' %>>
			        <a href="/archives">Archivo</a>
			    </li>
			    <li <%= ' class="active"' if @path == 'about' %>>
			        <a href="/about">Acerca de...</a>
			    </li>
			</ul>
		</nav>
	</header>
    <section id='wrapper'>
      <%= yield %> 
    </section> 
    <footer>
	
    </footer>
	
	
	<script src="/javascript/main.js"></script>


	<script type="application/javascript">
      <!--
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-353826-8']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
      -->
	</script>
  </body>
</html>


