<!doctype html>
<html>
  <head>
 	<link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/colors.css">
    <link rel="stylesheet" type="text/css" href="/css/type.css">

    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<title>
	<% if @path == 'index' %>
	    elBl&euml;g
	<% elsif @path.split('/').compact.length == 4 %>
	    <%= title %> - elBl&euml;g
	<% else %>
	    <%= @path.capitalize.gsub(/[-]/, ' ') %> - elBl&euml;g
	<% end %>
	</title>
  </head>
  <body>
		

	<header>
		<a href="/">
			<img src="/img/logo.png" width="250" height="92" alt="Logo">
		</a>
		<nav>
			<ul>
			    <li <%= ' class="active"' if @path == 'index' %>>
			        <a href="/">Inicio</a>
			    </li>
			    <li <%= ' class="active"' if @path == 'archive' %>>
			        <a href="/archives">Archivo</a>
			    </li>
			    <li <%= ' class="active"' if @path == 'books' %>>
			        <a href="/about">Acerca de...</a>
			    </li>
			</ul>
		</nav>
	</header>
    <section id='wrapper'>
      <%= yield %> 
    </section> 
    <footer>
	
    </footer>
	
	
	<script src="/javascript/main.js"></script>

  </body>
</html>


